<h3> The contact information for this ID is: </h3>

<h3>First Name: <%= @firstname %></h3>
<h3>Last Name: <%= @lastname %></h3>
<h3>Email: <%= @email %></h3>
<h3>Phone Number: <%= @phone %></h3>
<h3>Balance: <%= @balance %></h3>
